.main{
    width: 80%;
    height: 65%;
    background: linear-gradient(to left, rgb(22, 165, 220), #9e92ef);
    position: absolute;
    top:32%;
     border: solid;
}
    p{
       margin-left:  1%;
    font-size: 40px;
    color:black;
    }